<!--main navbar-->
<div *ngIf="isnavbarvisible3">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user">User</a>
          </li>
         
          
        </ul>
       
      </div>
    </div>
  </nav>
</div>




<!--Student navbar-->
<div *ngIf="isnavbarvisible1">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">User</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          <li class="nav-item">
            <a class="nav-link" href="/user">Logout</a>
          </li>
          
        </ul>
       
      </div>
    </div>
  </nav>
</div>

<!--Admin navbar-->
<div *ngIf="isnavbarvisible2">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          
        
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn bg-light" id="dropdownBasic1" ngbDropdownToggle>
              Select Question Type
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
             <ul class="list-group">
              <li class="list-group-item"><a class="dropdown-item" href="/generalquestion">Add General Questions</a></li>
              <li class="list-group-item"><a class="dropdown-item" href="">Another action</a></li>
              <li class="list-group-item"><a class="dropdown-item" href="">Something else here</a></li>
             </ul>
            </div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/viewall">View all users</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="/admin">Logout</a>
          </li>
          
        </ul>
       
      </div>
    </div>
  </nav>
</div>

<div>
  <router-outlet></router-outlet>
</div>

